{{> header title="مركز الموهوبين التقنيّن" lang="ar" }}
{{> sidebar/sidebar }}
<div class="container-fulid bg-dark py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-md-4">
                <div class="card-body">
                    <h5 class="text-center card-title">تسجيل الدخول</h5>
                    <div class="d-flex justify-content-center mb-3">
                        <div class="col-2 bg-primary" style="height:2px"></div>
                    </div>
                    {{#if other_err}}
                        <div class="text-right alert alert-warning" role="alert">
                            {{ other_err }}
                        </div>
                    {{/if}}
                    <form class="d-flex flex-column" method="post">
                        <div class="form-group">
                            <bdo class="text-right" dir="rtl">
                                <div class="input-group d-flex flex-row-reverse bd-highlight">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-user" style="width:16px"></i></span>
                                    </div>
                                    <input required class="form-control{{#if username_err}} is-invalid{{/if}}" name="username" type="text" placeholder="اسم المستخدم" />
                                    {{#if username_err}}
                                        <div class="invalid-feedback">
                                            {{ username_err }}
                                        </div>
                                    {{/if}}
                                </div>
                            </bdo>
                        </div>
                        <div class="form-group">
                            <bdo class="text-right" dir="rtl">
                                <div class="input-group d-flex flex-row-reverse">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    <input required class="form-control{{#if password_err}} is-invalid{{/if}}" name="password" type="password" placeholder="كلمة المرور" />
                                    {{#if password_err}}
                                        <div class="invalid-feedback">
                                            {{ password_err }}
                                        </div>
                                    {{/if}}
                                </div>
                            </bdo>
                        </div>
                        <button type="submit" class="btn btn-primary">لج</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer }}
