<div class="card border-dark h-100">
    <div class="card-body px-3">
        <bdo class="text-right" dir="rtl">
            <h5 class="py-2 card-title">{{ title }}</h5>
            <p class="card-text text-secondary">
                {{ description }}
            </p>
        </bdo>
    </div>
    <div class="list-group list-group-flush">
        <div class="list-group-item text-muted">
            <div class="row justify-content-end align-items-center no-gutters">
                <div class="col-auto">
                    {{ start_at }}
                </div>
                <i class="far fa-calendar-alt ml-2"></i>
            </div>
        </div>
        {{#if teacher }}
            <div class="list-group-item text-muted">
                <div class="row justify-content-end align-items-center no-gutters">
                    <div class="col-auto">
                        {{ teacher.first_name }}
                    </div>
                    <i class="fas fa-id-card-alt ml-2"></i>
                </div>
            </div>
        {{/if}}
        <a class="list-group-item bg-dark text-light list-group-item-action text-center" href="{{ url }}">
            صفحة الدورة
        </a>
    </div>
</div>
