{{> header title="مركز الموهوبين التقنيّن" lang="ar" }}
{{> sidebar/sidebar }}
<div class="container-fulid">
    <div class="row no-gutters">
        {{> dashboard/sidebar }}
        <!-- page content -->
        <div class="col-md-10 col-12 text-right bg-white">
            <div class="row no-gutters justify-content-center">
                <div class="col-10 my-2">
                    <div class="list-group-item border-0 mb-1 rounded bg-light text-dark">
                        <div class="row d-flex flex-row-reverse">
                            <div class="col-6">العنوان</div>
                            <div class="col-2">الكاتب</div>
                            <div class="col-2">تاريخ النشر</div>
                        </div>
                    </div>
                    <ul class="list-group">
                        {{#each news}}
                            <li class="list-group-item btn btn-light text-right">
                                <div class="row d-flex flex-row-reverse">
                                    <div class="col-6">
                                        {{ title }}
                                    </div>
                                    <div class="col-2">
                                        {{ author.username }}
                                    </div>
                                    <div class="col-2">
                                        2019-2-3
                                    </div>
                                    <div class="col-2 mr-auto text-left">
                                        <a class="text-dark text-center mr-2" href="delete/{{ page_id }}">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                        <a class="text-dark text-center mr-2" href="edit/{{ page_id }}">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a class="text-dark text-center mr-2" href="/post/{{ page_id }}">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>

            <!-- pagination -->
            <div class="btn-group d-flex justify-content-center mb-2" role="group">
                {{#each pagination }}
                    <a class="btn btn-dark{{#if active }} active{{/if}}" href="{{ url }}">
                        {{ title }}
                    </a>
                {{/each}}
            </div>
        </div>
    </div>
</div>
{{> footer }}
